.App {
  text-align: center;
  background-color: #adffc6;
  height: 100vh;
}
.main {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.footer {
  background: url("https://res.cloudinary.com/dojhf40bp/image/upload/v1638551854/footer_g2hom0.jpg");
  background-size: contain;
}
