@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Genos:wght@300&display=swap");

/* Header */
.App {
  text-align: center;
  background-color: #adffc6;
  width: 100vw;
  font-family: "Genos", sans-serif;
  margin: auto;
  padding: 0;
}

.header {
  background-image: url(https://res.cloudinary.com/dojhf40bp/image/upload/v1638551854/footer_g2hom0.jpg);
  background-size: contain;
  padding: 10px 0;
  text-align: left;
}

.links-main {
  background-color: #00e6ff;
  border-radius: 4px;
  width: 20%;
  margin-left: 34px;
  text-align: center;
  box-shadow: 0px 0px 8px 1px rgb(1, 160, 136);
  font-size: 18px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.links {
  color: white;
  padding: 5px;
  font-family: "Genos", sans-serif;
}

.header-link {
  color: black;
}

/* App */
.main {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 50px 10px;
}

.logo-img-div {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.details {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

/* Homepage */
.logo {
  width: 100%;
  max-width: 400px;
  height: auto;
  max-height: 338px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 1px rgb(1, 160, 136);
}

.content-div {
  text-align: center;
  width: 100%;
  max-width: 550px;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 112px;
}

.quizzes {
  background-color: #00e6ff;
  padding: 0 20px;
  height: 338px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 1px rgb(1, 160, 136);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.quiz-link {
  background-color: #aa74ff;
  border-radius: 8px;
  display: block;
  margin: 23px 0;
  width: 160px;
  border: 10px solid #adffc6;
  font-size: 20px;
}

h1 {
  font-family: "Bungee Outline", cursive;
  background-color: #00e6ff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 1px rgb(1, 160, 136);
  width: 60%;
  margin-left: 90px;
}

/* Questions */

.quizzes-details {
  background-color: #00e6ff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 1px rgb(1, 160, 136);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 550px;
  max-height: 300px;
}

.quizzes-content {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  background-color: #adffc6;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 110px;
}

.layover {
  margin-left: 15px;
  text-align: center;
  max-width: 550px;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 132px;
}

h3 {
  font-size: 20px;
  margin: 10px 0;
  color: white;
  background-color: #aa74ff;
  border-radius: 8px;
  padding: 5px 5px;
  margin: 6px 30px;
}

button {
  color: white;
  background-color: #aa74ff;
  padding: 10px 20px;
  border-radius: 8px;
  font-family: "Genos", sans-serif;
  font-size: 18px;
  display: block;
  margin: 5px 0;
  min-width: 140px;
}

/* Results */
.results {
}

.results-content {
}

/* Footer */
.footer {
  background: url("https://res.cloudinary.com/dojhf40bp/image/upload/v1638551854/footer_g2hom0.jpg");
  background-size: contain;
  padding: 15px 0;
}

li {
  list-style: none;
}

/* i {
  width: 100px;
} */
